/* nav bar css */

nav{
    position: fixed;
    width: 97%;
    padding: 10px;
    margin: 10px;
    background-color: black;
    height: auto;
    overflow: hidden;
    opacity: .7;
}

nav a {
    text-decoration: none;
    padding: 10px 20px 10px 20px ;
    text-align: center;
    float: left;
    color: white;
}

nav a:hover{
    background-color: lightslategrey;
    border: 1px solid black;
    border-radius: 10px;
}

#home{
    margin: 10px;
}


/* header css  */
.header{
    padding: 20px;
    margin: 10px;
    color: darkslategrey;
    background-color: darkgrey;
    border: 2px solid black;
    text-align: center;
    font-family: 'Supermercado One', cursive;
}
/* about css */
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: rgb(80, 150, 216);
    margin: 10px;
    padding: 10px;
}

.img1{
   display: inline-block;
   padding: 20px;
   margin: 10px;
}

.about{
    padding: 30px;
    margin: 10px;
    border: 2px solid black;
    background-color: rgb(230, 220, 179);
}

.about p{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about h1{
    font-family: 'Supermercado One', cursive;
    text-align: center;
}


.img1:hover{
    transform: scale(1.3);
    cursor:pointer;
}

/* footer css */

.footer{
    padding: 20px;
    margin: 10px;
    background-color: rgb(218, 186, 186);
    text-align: center;
}

#facebook{
    padding: 10px;
}

#instagram{
    padding: 10px;
}

/* media queries */

@media (max-width:1100px ){
    .container{
        display:block;
        background-color: rgb(80, 150, 216);
        margin: 10px;
        padding: 10px;
    }
    
    .img1{
       padding: 20px;
       margin: 10px;
    }
    
    .about{
        padding: 30px;
        margin: 10px;
        border: 2px solid black;
        background-color: rgb(230, 220, 179);
    }
    
    .about p{
        font-size: x-large;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .about h1{
        font-family: 'Supermercado One', cursive;
        text-align: center;
    }
    
    
    .img1:hover{
        transform: scale(1.3);
        cursor:pointer;
    }
}

@media (max-width:760px){
    
nav a {
    text-decoration: none;
    padding:10px 5px 10px 5px ;
    text-align: center;
    float: left;
    color: white;
}

}